project.name=automation
package.name=com.schappet

generator.enabled=true
mode=spring

generate.jsp=true
datatables.generation=2
include.schema.in.request.mapping=false
controller.request.mapping.extension=

generate.controller=true
generate.domain=true
generate.dao=true
generate.test=true

model.source=jdbc
clay.file=src/non-packaged-resources/Model.clay

controller.file.location=src/main/java
domain.file.location=src/main/java
dao.file.location=src/main/java

test.file.location=src/test/java/

jsp.file.location=src/main/webapp/WEB-INF/jsp



db.schema=weight
db.url=jdbc:mysql://localhost:3306/weight
db.username=USERNAME
db.password=PASSWORD
db.ssl=false
db.driver=com.mysql.jdbc.Driver
